{% extends 'base.html' %}
{% block content%}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About us ...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to our shop</p>
                </div>
            </div>
        </header>
       <div class="container">
           <div class="row">
               <center>
                   <div class="col-8">
                       <p align = "justify">
                           <br/><br/>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor tempus arcu, in egestas risus tristique sit amet.
                           Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                           Ut finibus, libero in ultricies porta, justo dolor convallis orci, a pulvinar dui lacus id nulla.
                           Pellentesque malesuada tellus quis nisi auctor, vel varius lorem fermentum. Nullam pulvinar tortor non finibus feugiat.
                           Integer dapibus, elit et dignissim sodales, erat purus facilisis ipsum, ac pulvinar tortor neque eget libero.
                           Vestibulum tortor velit, scelerisque at finibus at, fringilla non nunc.
                           Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                           Sed sollicitudin, sem ac ornare pretium, dui orci laoreet nibh, eget rutrum risus risus in erat.
                           Curabitur volutpat risus non hendrerit imperdiet. Etiam suscipit, nisi quis iaculis semper, magna nulla convallis neque,
                           nec venenatis enim leo eu magna. Praesent luctus diam vel posuere semper. Curabitur quis sodales nibh.
                           <br/><br/>
                           molestie tristique ante ac facilisis. Nulla tempor tempus justo in sagittis. Sed lacinia, lectus a tristique euismod,
                           orci dui congue metus, interdum sodales ipsum erat a est.

                           Maecenas facilisis, arcu quis efficitur tincidunt, dui dui faucibus ex, et fringilla sapien tellus non sem.
                           Nulla accumsan nibh non libero viverra, faucibus commodo dui vestibulum.
                           Sed sit amet orci a est aliquam commodo in scelerisque risus. Vestibulum vitae metus eget nulla dignissim mollis.
                           Cras ac lorem molestie, luctus est eget, pretium sapien. In dapibus egestas risus non vulputate.
                           Aliquam quis varius lectus. Praesent vitae sapien consequat, malesuada augue eu, ullamcorper magna. Donec id urna leo.
                           <br/><br/>
                           Mauris ac mi elit. Nunc in malesuada ipsum. Sed mollis ante a lorem condimentum imperdiet.
                           Pellentesque lacinia fermentum ex, et tincidunt risus interdum ac. Ut eu orci tortor. Nunc venenatis maximus nulla quis facilisis.
                           Nunc semper purus fermentum, fermentum erat a, posuere leo. Mauris vitae ligula non risus blandit condimentum. Nulla eu justo mi.
                           <br/><br/>
                       </p>

                   </div>
               </center>
           </div>

       </div>

{% endblock %}